<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encount">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".user.UserLikeList"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.UserFriendList"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.UserPostList"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.ProfileChange"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.PassForgot"
            android:screenOrientation="portrait"/>
        <activity android:name=".friend.FriendAdd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.UserLogin"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.UserSingin"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.UserSettings"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.UserProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".post.UserHome"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".post.UserPost"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".post.PostDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".friend.FriendProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".maps.MapsHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".maps.SpotMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- マップ機能を利用するために必要な記述　ここから -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>