<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encount2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.encount2.user.UserLikeList"/>
        <activity android:name="com.example.encount2.user.UserFriendList" />
        <activity android:name="com.example.encount2.user.UserPostList" />
        <activity android:name="com.example.encount2.user.ProfileChange" />
        <activity android:name="com.example.encount2.user.PassForgot" />
        <activity android:name="com.example.encount2.friend.FriendAdd" />
        <activity
            android:name="com.example.encount2.user.UserLogin"
            android:noHistory="true" />
        <activity
            android:name="com.example.encount2.user.UserSingin"
            android:noHistory="true" />
        <activity
            android:name="com.example.encount2.user.UserSettings"
            android:noHistory="true" />
        <activity
            android:name="com.example.encount2.user.UserProfile"
            android:noHistory="true" />
        <activity android:name="com.example.encount2.post.UserHome" />
        <activity
            android:name="com.example.encount2.post.UserPost"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.example.encount2.post.PostDetails" />
        <activity android:name="com.example.encount2.NavigationActivity" />
        <activity android:name="com.example.encount2.friend.FriendProfile" />
        <activity android:name="com.example.encount2.maps.MapsHome" />
        <activity android:name="com.example.encount2.maps.SpotMainActivity"/>
        <activity
            android:name="com.example.encount2.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- マップ機能を利用するために必要な記述　ここから -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>